# Django
__pycache__

# Environments (depending on chosen one by developer)
.env
.venv
pvenv

# Settings
paingouin/settings.py

# User upload folder
media

# Assets folder (generated with the "python manage.py collectstatic" command)
assets

.vscode