celery==5.5.3
Django==5.2.8
django-browser-reload==1.21.0
django-crispy-forms==2.5
django-mjml-template==1.0.0
django-tailwind==4.4.1
django-unfold==0.71.0
django-widget-tweaks==1.5.0
django-yubin==2.0.6
gunicorn==23.0.0
html2text==2025.4.15
mysqlclient==2.2.7
whitenoise==6.11.0
xlsxwriter==3.2.9
