asgiref==3.9.1
Django==5.2.5
django-tailwind==4.2.0
django-unfold==0.63.0
django-widget-tweaks==1.5.0
gunicorn==23.0.0
mysqlclient==2.2.7
packaging==25.0
sqlparse==0.5.3
whitenoise==6.9.0
xlsxwriter==3.2.5
