{% load static %}
{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="fr">
    <head>
        <link rel="stylesheet" href="{% static 'style.css' %}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap"
              rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"></script>
        <title>Pain'Gouin</title>
        <link rel="shortcut icon"
              href="{% static 'logo/logo.ico' %}"
              type="image/x-icon">
        {% tailwind_css %}
    </head>
    <body class="bg-quaternary">
        {% block header %}
            <header>
                <div class="shadow grid xl:grid-cols-3 bg-white xl:h-44 top-0 left-0 right-0 z-40 content-center items-stretch	">
                    <div class="w-40 justify-self-center">
                        <a href="{% url 'index' %}">
                            <img src="{% static 'logo/logo.webp' %}" alt="logo">
                        </a>
                    </div>
                    <div class="xl:pt-16 justify-self-center pt-4">
                        <div class="align-middle">
                            <a href="{% url 'index' %}">
                                <p class="text-5xl font-bold tracking-wide font-lobster text-secondary">Pain'Gouin</p>
                            </a>
                        </div>
                    </div>
                    {% if user.is_authenticated %}
                        <div class="justify-self-center content-center items-center gap-7">
                            <button id="dropdownInformationButton"
                                    data-dropdown-toggle="dropdownInformation"
                                    class="font-montserrat hover:text-primary duration-500 rounded-lg px-5 py-2.5 text-center inline-flex items-center xl:text-base text-2xl"
                                    type="button">
                                Bienvenue {{ user.first_name }},&nbsp;<b>ton solde est de {{ user.credit|floatformat:-2 }}€</b>
                                <svg class="w-2.5 h-2.5 ms-3"
                                     aria-hidden="true"
                                     xmlns="http://www.w3.org/2000/svg"
                                     fill="none"
                                     viewBox="0 0 10 6">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4" />
                                </svg>
                            </button>
                            <div id="dropdownInformation"
                                 class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow xl:w-66 font-montserrat">
                                <div class="xl:text-sm text-xl text-gray-900">
                                    <a href="{% url 'update' %}" class="block px-4 py-2 hover:bg-quaternary">
                                        <span>{{ user.first_name }} {{ user.last_name }}</span>
                                        <br />
                                        <span class="font-medium">{{ user.username }}</span>
                                    </a>
                                </div>
                                <ul class="py-2 xl:text-sm text-xl text-gray-700"
                                    aria-labelledby="dropdownInformationButton">
                                    {% if user.is_staff %}
                                        <li>
                                            <a href="{% url 'admin:login' %}"
                                               class="block px-4 py-2 hover:bg-quaternary">Panel administrateur</a>
                                        </li>
                                    {% endif %}
                                    {% if user.isLivreur %}
                                        <li>
                                            <a href="{% url 'livreur' %}"
                                               class="block px-4 py-2 hover:bg-quaternary">Espace livreur</a>
                                        </li>
                                    {% endif %}
                                    <li>
                                        <a href="{% url 'historique' %}"
                                           class="block px-4 py-2 hover:bg-quaternary">Historique des commandes</a>
                                    </li>
                                </ul>
                                <div class="py-2">
                                    <a href="{% url 'logout' %}"
                                       class="block px-4 py-2 xl:text-sm text-xl  text-gray-700 hover:bg-quaternary">Se déconnecter</a>
                                </div>
                            </div>
                            <div>
                                <a href="{% url 'commande' %}">
                                    <button class="w-96 xl:block hidden bg-inherit border-primary text-primary font-montserrat rounded-lg box-border border-2 rounded-x1 hover:bg-primary hover:text-white duration-1000 h-12 font-bold align-middle">
                                        Passer une commande !
                                    </button>
                                </a>
                            </div>
                        </div>
                    {% else %}
                        <div class="justify-self-center content-center">
                            <div>
                                <a href="{% url 'login' %}">
                                    <button class="w-96 bg-inherit border-primary text-primary font-montserrat rounded-lg inline-block box-border border-2 rounded-x1 hover:bg-primary hover:text-white duration-1000 h-12 font-bold align-middle">
                                        Commander votre pain dès maintenant !
                                    </button>
                                </a>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </header>
        {% endblock header %}
        {% block content %}
        {% endblock content %}
        {% block footer %}
            <footer class="bg-white rounded-lg shadow dark:bg-gray-900 m-4 font-montserrat">
                <div class="w-full max-w-screen-xl mx-auto p-4">
                    <div class="sm:flex sm:items-center sm:justify-between">
                        <a href="{% url 'index' %}"
                           class="flex items-center mb-4 sm:mb-0 space-x-3 rtl:space-x-reverse">
                            <img src="{% static 'logo/logo.webp' %}" class="h-16" alt="Flowbite Logo" />
                            <span class="self-center text-2xl font-lobster whitespace-nowrap text-secondary dark:text-white">Pain'Gouin</span>
                        </a>
                        <ul class="flex flex-wrap items-center mb-6 text-sm font-medium text-secondary sm:mb-0 dark:text-gray-400">
                            <li>
                                <a href="{% url 'index' %}" class="hover:underline me-4 md:me-6">À propos</a>
                            </li>
                            <li>
                                <a href="{% url 'mentions' %}" class="hover:underline me-4 md:me-6">Mentions légales</a>
                            </li>
                            <li>
                                <a href="#" class="hover:underline">Nous contacter</a>
                            </li>
                        </ul>
                    </div>
                    <hr class="my-6 border-secondary sm:mx-auto dark:border-gray-700 lg:my-8">
                    <span class="block text-sm text-secondary sm:text-center dark:text-gray-400">Association étudiante loi 1901 de <a href="https://centralelille.fr/" class="hover:underline">Centrale Lille Institut</a></span>
                </div>
            </footer>
        {% endblock footer %}
    </body>
</html>
