{% extends "commande/base.html" %}
{% load static %}
{% block content %}
    <h1 class="text-center text-4xl text-primary py-16">Contacter l'association :</h1>
    <div class="grid xl:grid-cols-2  place-items-center pb-10">
        <div class="max-w-xl">
            <p class="text-xl font-montserrat pb-5">
                Notre canal de communication principal est un groupe Messenger, tu peux contacter l'un des membres du bureau pour être rajouté dessus.
            </p>
            <p class="text-xl font-montserrat pb-5">
                Tu peux également directement contacter l'un des membres du bureau en fonction de la nature de ta requête.
            </p>
        </div>
        <div>{% include "commande/contact_cards.html" %}</div>
    </div>
{% endblock content %}
