{% extends "commande/base.html" %}
{% load static %}
{% block content %}
  <div class="font-montserrat">
    <h1 class="text-center text-4xl text-primary py-10">Historique des commandes passées :</h1>
    <div class="relative overflow-x-auto pb-10 pt-5">
      <table class="w-full text-sm text-left rtl:text-right text-secondary">
        <thead class="text-xs text-gray-700 uppercase bg-orangemoinsclair">
          <tr>
            <th scope="col" class="px-6 py-3">Date de la commande</th>
            <th scope="col" class="px-6 py-3">Contenu de la commande</th>
            <th scope="col" class="px-6 py-3">Total</th>
            <th scope="col" class="px-6 py-3"></th>
          </tr>
        </thead>
        <tbody>
          {% for commande in historique %}
            <tr class="bg-white border-b">
              <th scope="row"
                  class="px-6 py-4 font-medium text-secondary whitespace-nowrap">{{ commande.date }}</th>
              <td class="px-6 py-4">
                {% for produit in commande.produits %}
                  {{ produit.1 }} {{ produit.0 }}
                  <br>
                {% endfor %}
              </td>
              <td class="px-6 py-4">{{ commande.total|floatformat:-2 }}€</td>
              <td>
                {% if not not commande.passe %}
                  <a href="del-order/{{ commande.id }}">
                    <button class="w-10 h-10 xl:block bg-inherit border-primary text-primary font-montserrat rounded-full inline-block box-border border-2 rounded-x1 hover:bg-primary hover:text-white duration-200 font-bold align-middle">
                      ✕
                    </button>
                  </a>
                {% endif %}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock content %}
