{% extends "commande/base.html" %}
{% load static %}

{% block content %}
  {% if livraison %}
    <h1 class="text-4xl text-secondary text-center py-5">Commande du {{ livraison.date }}</h1>
    {% if produit %}
      <div class="flex flex-row justify-around pb-10">
        <div class="basis-1/4">
          <h2 class="text-3xl text-primary text-center py-2 font-bold ">Commande globale :</h2>
          <div class="relative overflow-x-auto pb-10 pt-5">
            <table class="w-full text-sm text-left rtl:text-right text-secondary">
              <thead class="text-xs text-gray-700 uppercase bg-orangemoinsclair">
                <tr>
                  <th scope="col" class="px-6 py-3">Nom du produit</th>
                  <th scope="col" class="px-6 py-3">Quantité</th>
                </tr>
              </thead>
              <tbody>
                {% for prod in produit %}
                  <tr class="bg-white border-b">
                    <th scope="row"
                        class="px-6 py-4 font-medium text-secondary whitespace-nowrap">{{ prod.0 }}</th>
                    <td class="px-6 py-4">{{ prod.1 }}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
        <div class="basis-1/4">
          <h2 class="text-3xl text-primary text-center py-2 font-bold ">Livraisons par bâtiments :</h2>
          <div class="relative overflow-x-auto pb-10 pt-5">
            <table class="w-full text-sm text-left rtl:text-right text-secondary">
              <thead class="text-xs text-gray-700 uppercase bg-orangemoinsclair">
                <tr>
                  <th scope="col" class="px-6 py-3">Bâtiment</th>
                  <th scope="col" class="px-6 py-3">Commande</th>
                </tr>
              </thead>
              <tbody>
                {% for batiment in commande_batiment %}
                  {% if batiment.commande %}
                    <tr class="bg-white border-b">
                      <th scope="row"
                          class="px-6 py-4 font-medium text-secondary whitespace-nowrap">{{ batiment.nom }}</th>
                      <td class="px-6 py-4">
                        {% for prod in batiment.commande %}
                          {{ prod.1 }} {{ prod.0 }}
                          <br>
                        {% endfor %}
                      </td>
                    </tr>
                  {% endif %}
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <h2 class="text-3xl text-primary text-center py-2 font-bold ">Liste des livraisons :</h2>
      <div class="flex flex-row justify-center">
        <div class="relative overflow-x-auto pb-10 pt-5 basis-1/2">
          <table class="w-full text-sm text-left rtl:text-right text-secondary">
            <thead class="text-xs text-gray-700 uppercase bg-orangemoinsclair">
              <tr>
                <th scope="col" class="px-6 py-3">Chambre à livrer</th>
                <th scope="col" class="px-6 py-3">Commande</th>
              </tr>
            </thead>
            <tbody>
              {% for comm in commande %}
                <tr class="bg-white border-b">
                  <th scope="row"
                      class="px-6 py-4 font-medium text-secondary whitespace-nowrap">{{ comm.0 }}</th>
                  <td class="px-6 py-4">
                    {% for prod in comm.1 %}
                      {{ prod.1 }} {{ prod.0 }}
                      <br>
                    {% endfor %}
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    {% else %}
      <h2 class="text-3xl text-primary text-center py-5 font-bold">Personne n'a encore commandé !</h2>
    {% endif %}
  {% else %}
    <h1 class="text-4xl text-secondary text-center py-10">Pas de livraison aujourd'hui !</h1>
  {% endif %}
{% endblock content %}
