{% load static %}
{% load static tailwind_tags %}
<head>
    <link rel="stylesheet" href="{%static 'style.css'%}">
   <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/flowbite@2.4.1/dist/flowbite.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.4.1/dist/flowbite.min.js"></script>


    <title>Pain'Gouin</title>

    <link rel="shortcut icon" href="{%static '/logo/logo.ico'%}" type="image/x-icon">
    {% tailwind_css %}

</head>

<header>
    <div class="shadow grid xl:grid-cols-3 bg-white xl:h-44 top-0 left-0 right-0 z-40 content-center items-stretch	">
        <div class="w-40 justify-self-center">
            <a href="{%url 'index' %}"><img src="{%static 'logo/logo.webp'%}" alt="logo"></a>
        </div>
        <div class="xl:pt-16 justify-self-center pt-4">
            <div class="align-middle">
                <p class="text-black text-5xl font-bold tracking-wide font-lobster text-secondary">Pain'Gouin</p>
            </div>
        </div>
        <div class="justify-self-center content-center items-center gap-7">
                <button id="dropdownInformationButton" data-dropdown-toggle="dropdownInformation" class="font-montserrat hover:text-primary duration-500 rounded-lg px-5 py-2.5 text-center inline-flex items-center" type="button">Bienvenue {{user.first_name}},&nbsp <b>ton solde est de {{user.credit|floatformat:-2}}€</b> <svg class="w-2.5 h-2.5 ms-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
                    </svg>
                </button>

                <div id="dropdownInformation" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 font-montserrat">
                    <div class="px-4 py-3 text-sm text-gray-900">
                      <div>{{user.first_name}} {{user.last_name}}</div>
                      <div class="font-medium truncate">{{user.username}}</div>
                    </div>
                    <ul class="py-2 text-sm text-gray-700" aria-labelledby="dropdownInformationButton">
                        {%if user.is_staff%}
                      <li>
                        <a href="admin/login" class="block px-4 py-2 hover:bg-quaternary">Panel administrateur</a>
                      </li>
                        {%endif%}
                        {%if user.isLivreur%}
                        <li>
                          <a href="{%url 'livreur'%}" class="block px-4 py-2 hover:bg-quaternary">Espace livreur</a>
                        </li>
                          {%endif%}
                      <li>
                        <a href="#" class="block px-4 py-2 hover:bg-quaternary">Options</a>
                      </li>
    
                    </ul>
                    <div class="py-2">
                      <a href="logout" class="block px-4 py-2 text-sm text-gray-700 hover:bg-quaternary">Se déconnecter</a>
                    </div>
                </div>
                <div><a href="{%url 'commande'%}"><button class="w-96 bg-inherit border-primary text-primary font-montserrat rounded-lg inline-block box-border border-2 rounded-x1 hover:bg-primary hover:text-white duration-1000 h-12 font-bold align-middle">Passer une commande !</button></a></div>
            </div>
    </div>
</header>


<body class="bg-quaternary">
    {%if livraison%}
    <h1 class="text-4xl text-secondary text-center py-5">Commande du {{livraison.date}} </h1>

    {%if produit%}
    <div class="flex flex-row justify-around pb-10">
    <div class="basis-1/4">
    <h2 class="text-3xl text-primary text-center py-2 font-bold ">Commande globale :</h2>
    <div class="relative overflow-x-auto pb-10 pt-5">
      <table class="w-full text-sm text-left rtl:text-right text-secondary">
          <thead class="text-xs text-gray-700 uppercase bg-orangemoinsclair">
            <tr>
              <th scope="col" class="px-6 py-3">
                Nom du produit
              </th>
              <th scope="col" class="px-6 py-3">
                Quantité
              </th>
            </tr>
          </thead>
          <tbody>
            {%for prod in produit%}
            <tr class="bg-white border-b">
              <th scope="row" class="px-6 py-4 font-medium text-secondary whitespace-nowrap">
                {{prod.0}}
              </th>
              <td class="px-6 py-4">
                {{prod.1}}
            </td>
            </tr>
            {%endfor%}
          </tbody>
      </table>
    </div>
    </div>
<div class="basis-1/4">
  <h2 class="text-3xl text-primary text-center py-2 font-bold ">Livraisons par bâtiments :</h2>
    <div class="relative overflow-x-auto pb-10 pt-5">
      <table class="w-full text-sm text-left rtl:text-right text-secondary">
          <thead class="text-xs text-gray-700 uppercase bg-orangemoinsclair">
            <tr>
              <th scope="col" class="px-6 py-3">
                Bâtiment
              </th>
              <th scope="col" class="px-6 py-3">
                Commande
              </th>
            </tr>
          </thead>
          <tbody>
            {%if commande_batiment.0%}
            <tr class="bg-white border-b">
              <th scope="row" class="px-6 py-4 font-medium text-secondary whitespace-nowrap">
                Bâtiment A
              </th>
              <td class="px-6 py-4">
                {%for prod in commande_batiment.0%}
                {{prod.1}} {{prod.0}} <br>
                {%endfor%}
              </td>
            </tr>
            {%endif%}
            {%if commande_batiment.1%}
            <tr class="bg-white border-b">
              <th scope="row" class="px-6 py-4 font-medium text-secondary whitespace-nowrap">
                Bâtiment B
              </th>
              <td class="px-6 py-4">
                {%for prod in commande_batiment.1%}
                {{prod.1}} {{prod.0}} <br>
                {%endfor%}
              </td>
            </tr>
            {%endif%}
            {%if commande_batiment.2%}
            <tr class="bg-white border-b">
              <th scope="row" class="px-6 py-4 font-medium text-secondary whitespace-nowrap">
                Bâtiment C
              </th>
              <td class="px-6 py-4">
                {%for prod in commande_batiment.2%}
                {{prod.1}} {{prod.0}} <br>
                {%endfor%}
              </td>
            </tr>
            {%endif%}
            {%if commande_batiment.3%}
            <tr class="bg-white border-b">
              <th scope="row" class="px-6 py-4 font-medium text-secondary whitespace-nowrap">
                Bâtiment D
              </th>
              <td class="px-6 py-4">
                {%for prod in commande_batiment.3%}
                {{prod.1}} {{prod.0}} <br>
                {%endfor%}
              </td>
            </tr>
            {%endif%}
            {%if commande_batiment.4%}
            <tr class="bg-white border-b">
              <th scope="row" class="px-6 py-4 font-medium text-secondary whitespace-nowrap">
                Bâtiment E
              </th>
              <td class="px-6 py-4">
                {%for prod in commande_batiment.4%}
                {{prod.1}} {{prod.0}} <br>
                {%endfor%}
              </td>
            </tr>
            {%endif%}
            {%if commande_batiment.5%}
            <tr class="bg-white border-b">
              <th scope="row" class="px-6 py-4 font-medium text-secondary whitespace-nowrap">
                Bâtiment F
              </th>
              <td class="px-6 py-4">
                {%for prod in commande_batiment.5%}
                {{prod.1}} {{prod.0}} <br>
                {%endfor%}
              </td>
            </tr>
            {%endif%}
          </tbody>
      </table>
    </div>
  </div>
</div>


  <h2 class="text-3xl text-primary text-center py-2 font-bold ">Liste des livraisons :</h2>
  <div class="flex flex-row justify-center">
    <div class="relative overflow-x-auto pb-10 pt-5 basis-1/2">
      <table class="w-full text-sm text-left rtl:text-right text-secondary">
          <thead class="text-xs text-gray-700 uppercase bg-orangemoinsclair">
            <tr>
              <th scope="col" class="px-6 py-3">
                Chambre à livrer
              </th>
              <th scope="col" class="px-6 py-3">
                Commande
              </th>
            </tr>
          </thead>
          <tbody>
            {%for comm in commande%}
            <tr class="bg-white border-b">
              <th scope="row" class="px-6 py-4 font-medium text-secondary whitespace-nowrap">
                {{comm.0}}
              </th>
              <td class="px-6 py-4">
                {%for prod in comm.1%}
                {{prod.1}} {{prod.0}} <br>
                {%endfor%}
              </td>
            </tr>
            {%endfor%}
          </tbody>
      </table>
    </div>
  </div>

  {%else%}
  <h2 class="text-3xl text-primary text-center py-5 font-bold">Personne n'a encore commandé !</h2>
  {%endif%}



    {%else%}
    <h1 class="text-4xl text-secondary text-center py-10">Pas de livraison aujourd'hui ! </h1>
    {%endif%}
</body>

{%block footer%}
<footer class="grid grid-cols-3 text-center font-montserrat">
    <div>
        Association Pain'Gouin
    </div>

    <div>
        <a href="" class="hover:text-primary duration-500">Mentions Légales</a> - <a href="https://www.facebook.com/pain.gouin.372" class="hover:text-primary duration-500">Nous contacter</a>
    </div>

    <div>
        Réalisé en 2024 par <a href="https://github.com/mrimbert" class="hover:text-primary duration-500">Mathis Rimbert</a>
    </div>
</footer>
{%endblock%}