{% load static %}
{% load static tailwind_tags %}
<head>
    <link rel="stylesheet" href="{%static 'style.css'%}">
   <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/flowbite@2.4.1/dist/flowbite.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.4.1/dist/flowbite.min.js"></script>


    <title>Pain'Gouin</title>

    <link rel="shortcut icon" href="{%static '/logo/logo.ico'%}" type="image/x-icon">
    {% tailwind_css %}

</head>


{%if user.is_authenticated%}
        <header>
            <div class="shadow grid xl:grid-cols-3 bg-white xl:h-44 top-0 left-0 right-0 z-40 content-center items-stretch	">
                <div class="w-40 justify-self-center">
                    <a href="{%url 'index' %}"><img src="{%static 'logo/logo.webp'%}" alt="logo"></a>
                </div>
                <div class="xl:pt-16 justify-self-center pt-4">
                    <div class="align-middle">
                        <p class="text-black text-5xl font-bold tracking-wide font-lobster text-secondary">Pain'Gouin</p>
                    </div>
                </div>
                <div class="justify-self-center content-center items-center gap-7">
                        <button id="dropdownInformationButton" data-dropdown-toggle="dropdownInformation" class="font-montserrat hover:text-primary duration-500 rounded-lg px-5 py-2.5 text-center inline-flex items-center" type="button">Bienvenue {{user.first_name}},&nbsp <b>ton solde est de {{user.credit|floatformat:-2}}€</b> <svg class="w-2.5 h-2.5 ms-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
                            </svg>
                        </button>

                        <div id="dropdownInformation" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 font-montserrat">
                            <div class="px-4 py-3 text-sm text-gray-900">
                              <div>{{user.first_name}} {{user.last_name}}</div>
                              <div class="font-medium truncate">{{user.username}}</div>
                            </div>
                            <ul class="py-2 text-sm text-gray-700" aria-labelledby="dropdownInformationButton">
                                {%if user.is_staff%}
                              <li>
                                <a href="admin/login" class="block px-4 py-2 hover:bg-quaternary">Panel administrateur</a>
                              </li>
                                {%endif%}
                                {%if user.isLivreur%}
                                <li>
                                  <a href="{%url 'livreur'%}" class="block px-4 py-2 hover:bg-quaternary">Espace livreur</a>
                                </li>
                                  {%endif%}
                              <li>
                                <a href="{%url 'update'%}" class="block px-4 py-2 hover:bg-quaternary">Options</a>
                              </li>
            
                            </ul>
                            <div class="py-2">
                              <a href="logout" class="block px-4 py-2 text-sm text-gray-700 hover:bg-quaternary">Se déconnecter</a>
                            </div>
                        </div>
                        <div><a href="{%url 'commande'%}"><button class="w-96 bg-inherit border-primary text-primary font-montserrat rounded-lg inline-block box-border border-2 rounded-x1 hover:bg-primary hover:text-white duration-1000 h-12 font-bold align-middle">Passer une commande !</button></a></div>
                    </div>
            </div>
        </header>
        {%else%}
        <header>
            <div class="shadow grid xl:grid-cols-3 bg-white xl:h-44 top-0 left-0 right-0 z-40 content-center items-stretch	">
                <div class="w-40 justify-self-center">
                    <a href="{%url 'index' %}"><img src="{%static 'logo/logo.webp'%}" alt="logo"></a>
                </div>
                <div class="xl:pt-16 justify-self-center pt-4">
                    <div class="align-middle">
                        <p class="text-black text-5xl font-bold tracking-wide font-lobster text-secondary">Pain'Gouin</p>
                    </div>
                </div>
                <div class="justify-self-center content-center">
                   <div><a href="login"><button class="w-96 bg-inherit border-primary text-primary font-montserrat rounded-lg inline-block box-border border-2 rounded-x1 hover:bg-primary hover:text-white duration-1000 h-12 font-bold align-middle">Commander votre pain dès maintenant !</button></a></div>
                </div>
            </div>
        </header>
{%endif%}

<body class="bg-quaternary">
    <div class="relative">
    <img src="{%static 'illustration/banner.jpg'%}" alt="banner" class="w-screen max-h-[650px] object-cover blur-[2px]">
    <div class="flex absolute top-1/3 items-center justify-center w-screen">
        <p class="text-5xl font-bebas drop-shadow-[0_1.7px_1.7px_rgba(0,0,0,0.8)] text-tertiary">Du pain frais à la Rez tous les jours (ou presque...)</p>
    </div>
    <div class="flex absolute top-1/2 items-center justify-center w-screen">
        <a href="{%url 'commande'%}"><button class=" mx-auto w-[500px] bg-primary border-primary drop-shadow-[0_1.2px_1.2px_rgba(0,0,0,0.8)] text-white font-montserrat rounded-lg inline-block box-border border-2 rounded-x1 hover:bg-inherit hover:text-primary duration-1000 h-14 font-bold align-middle">Passer commande</button></a>
    </div>
    </div>

    <h2 class="text-4xl text-center py-10 font-bebas">Mais c'est génial !  Comment ça fonctionne ?</h2>
    <div class="grid xl:grid-cols-2  place-items-center pb-10">
        <div>
            <img src="{%static 'illustration/PainGouinOrdi.png'%}" alt="Commande PainGouin">
        </div>
        <div class="max-w-xl">
            <h3 class="text-4xl font-bebas pb-10 text-primary">Il faut tout d'abord commander !</h3>
            <p class="text-xl font-montserrat pb-5">Nous livrons <b class="text-secondary">tous les jours</b> (sauf dimanche et jours fériés) et tu peux commander n'importe quand depuis ton téléphone ou ton ordinateur pour la livraison du lendemain. </p>
            <p class="text-xl font-montserrat"><b class="text-secondary">Pour recharger ton compte,</b> tu peux contacter un membre de l'association.</p>
        </div>

    </div>

    <div class="grid xl:grid-cols-2  place-items-center pb-10">
        <div class="max-w-xl order-2 xl:order-1">
            <h3 class="text-4xl font-bebas pb-10 text-primary">Et puis... c'est tout !</h3>
            <p class="text-xl font-montserrat pb-5">Une fois commandée, ta livraison arrivera devant ta porte <b class="text-secondary">avant que tu ailles en cours</b> (il y a un peu de retard parfois, désolé si ça n'arrive pas à temps...) </p>
            <p class="text-xl font-montserrat">Pour faciliter la livraison et éviter que ton pain soit posé sur le sol, pense à <b class="text-secondary">accrocher un sac</b> à ta poignée de porte.</p>
        </div>

        <div class="order-1 xl:order-2">
            <img src="{%static 'illustration/PainGouinPorte.png'%}" alt="Sac PainGouin">
        </div>

    </div>

    <div class="grid xl:grid-cols-2  place-items-center pb-10">
        <div>
            <img src="{%static 'illustration/PainGouinBoulangerie.png'%}" alt="Boulangerie PainGouin">
        </div>
        <div class="max-w-xl">
            <h3 class="text-4xl font-bebas pb-10 text-primary">Tu peux également livrer !</h3>
            <p class="text-xl font-montserrat pb-5">Pour assurer le bon fonctionnement de l'association, tu peux <b class="text-secondary">devenir livreur</b>. Les livreurs vont à la boulangerie et amènent le pain et les viennoiseries à toute la résidence.</p>
            <p class="text-xl font-montserrat pb-5">Ne  t'en fais pas, tu ne livreras que <b class="text-secondary">quelquefois dans l'année</b> (en moyenne 5-6 fois).</p>
            <p class="text-xl font-montserrat">Si tu désires nous aider, n'hésite pas à <b class="text-secondary">contacter un membre de l'association</b> (et on te remercie !)</p>
        </div>

    </div>

</body>

{%block footer%}
<footer class="grid grid-cols-3 text-center font-montserrat">
    <div>
        Association Pain'Gouin
    </div>

    <div>
        <a href="" class="hover:text-primary duration-500">Mentions Légales</a> - <a href="https://www.facebook.com/pain.gouin.372" class="hover:text-primary duration-500">Nous contacter</a>
    </div>

    <div>
        Réalisé en 2024 par <a href="https://github.com/mrimbert" class="hover:text-primary duration-500">Mathis Rimbert</a>
    </div>
</footer>
{%endblock%}