{% extends "commande/base.html" %}
{% load static %}
{% load widget_tweaks %}
{% block content %}
    <h1 class="text-3xl text-center font-bebas py-10 text-secondary">Mot de passe oublié ?</h1>
    {% if form.errors %}
        <div id="alert-4"
             class="flex items-center p-4 mb-4 text-yellow-800 rounded-lg bg-yellow-50"
             role="alert">
            <svg class="shrink-0 w-4 h-4"
                 aria-hidden="true"
                 xmlns="http://www.w3.org/2000/svg"
                 fill="currentColor"
                 viewBox="0 0 20 20">
                <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
            </svg>
            <span class="sr-only">Info</span>
            <div class="ms-3 text-sm font-medium">
                {% for key, value in form.errors.items %}{{ value }}{% endfor %}
            </div>
        </div>
    {% endif %}
    <form class="max-w-lg mx-auto pt-5 pb-10" method="post">
        {% csrf_token %}
        <div class="mb-5">
            <label class="block mb-2 text-sm font-medium text-gray-900 font-montserrat"
                   for="id_email">Mail :</label>
            <input type="email"
                   name="email"
                   class="bg-gray-50 border font-montserrat border-gray-300 text-secondary text-sm rounded-lg focus:ring-secondary focus:border-secondary block w-full p-2.5"
                   autocomplete="email"
                   maxlength="254"
                   required
                   id="id_email">
        </div>
        <div class="flex justify-center flex-row">
            <button type="submit"
                    class="w-96 bg-inherit border-primary text-primary font-montserrat rounded-lg inline-block box-border border-2 rounded-x1 hover:bg-primary hover:text-white duration-1000 h-12 font-bold align-middle">
                Réinitialiser le mot de passe
            </button>
        </div>
    </form>
    <div class="flex justify-center flex-row pb-3">
        <a href="{% url 'login' %}">
            <button type="button"
                    class="w-96 bg-inherit border-primary text-primary font-montserrat rounded-lg inline-block box-border border-2 rounded-x1 hover:bg-primary hover:text-white duration-1000 h-12 font-bold align-middle">
                Retour à la connexion
            </button>
        </a>
    </div>
    <div class="flex justify-center flex-row pb-10">
        <a href="{% url 'signup' %}">
            <button type="button"
                    class="w-96 bg-inherit border-primary text-primary font-montserrat rounded-lg inline-block box-border border-2 rounded-x1 hover:bg-primary hover:text-white duration-1000 h-12 font-bold align-middle">
                Pas encore de compte ? S'inscrire
            </button>
        </a>
    </div>
{% endblock content %}
