{% extends "commande/base.html" %}
{% load static %}
{% block content %}
    <div class="flex flex-row  place-content-center py-4">
        <div id="alert-1"
             class="flex items-center p-4 mb-4 text-green-800 border border-green-400 rounded-lg bg-green-50"
             role="alert">
            <svg class="flex-shrink-0 w-4 h-4"
                 aria-hidden="true"
                 xmlns="http://www.w3.org/2000/svg"
                 fill="currentColor"
                 viewBox="0 0 20 20">
                <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
            </svg>
            <span class="sr-only">Info</span>
            <div class="ms-3 font-medium">Le mot de passe a bien été changé.</div>
        </div>
    </div>
    <div class="flex items-center justify-center w-full">
        <a href="{% url 'login' %}">
            <button class=" mx-auto w-[500px] bg-primary border-primary drop-shadow-[0_1.2px_1.2px_rgba(0,0,0,0.8)] text-white font-montserrat rounded-lg inline-block box-border border-2 rounded-x1 hover:bg-inherit hover:text-primary duration-1000 h-14 font-bold align-middle">
                Se connecter
            </button>
        </a>
    </div>
{% endblock content %}
