{% load static %}
{% load static tailwind_tags %}
{% load widget_tweaks %}

<head>
    <link rel="stylesheet" href="{%static 'style.css'%}">
   <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">

    <title>Pain'Gouin</title>

    <link rel="shortcut icon" href="{%static 'logo/logo.ico'%}" type="image/x-icon">
    {% tailwind_css %}

</head>

<header>
    <div class="shadow grid xl:grid-cols-3 bg-white xl:h-44 top-0 left-0 right-0 z-40 content-center items-stretch	">
        <div class="w-40 justify-self-center">
            <a href="{%url 'index' %}"><img src="{%static 'logo/logo.webp'%}" alt="logo"></a>
        </div>
        <div class="xl:pt-16 justify-self-center pt-4">
            <div class="align-middle">
                <p class="text-black text-5xl font-bold tracking-wide font-lobster text-secondary">Pain'Gouin</p>
            </div>
        </div>
    </div>
</header>

<body class="bg-quaternary">
    <h1 class="py-10 text-center font-secondary font-montserrat text-3xl">Le mot de passe a été modifié. Vous pouvez dorénavant vous connecter <a href="{% url 'login' %}" class="hover:text-primary duration-500">ici</a></h1>
</body>

