{% load static %}
{% load static tailwind_tags %}
{% load widget_tweaks %}


<head>
    <link rel="stylesheet" href="{%static 'style.css'%}">
   <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">

    <title>Pain'Gouin</title>

    <link rel="shortcut icon" href="{%static '/logo/logo.ico'%}" type="image/x-icon">
    {% tailwind_css %}

</head>

<header>
    <div class="shadow grid xl:grid-cols-3 bg-white xl:h-44 top-0 left-0 right-0 z-40 content-center items-stretch	">
        <div class="w-40 justify-self-center">
            <a href="{%url 'index' %}"><img src="{%static 'logo/logo.webp'%}" alt="logo"></a>
        </div>
        <div class="xl:pt-16 justify-self-center pt-4">
            <div class="align-middle">
                <p class="text-black text-5xl font-bold tracking-wide font-lobster text-secondary">Pain'Gouin</p>
            </div>
        </div>
    </div>
</header>

<body class="bg-quaternary">
    <h1 class="text-3xl text-center font-bebas py-10 text-secondary">Création de votre compte Pain'Gouin</h1>
    <form class="max-w-lg mx-auto pt-5 pb-10" method="post">
        {% if form.errors %}

            <div id="alert-4" class="flex items-center p-4 mb-4 text-yellow-800 rounded-lg bg-yellow-50" role="alert">
                <svg class="flex-shrink-0 w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                  <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
                </svg>
                <span class="sr-only">Info</span>
                <div class="ms-3 text-sm font-medium">
                    {{ form.errors }}
                </div>
            </div>
        {% endif %}
        {% csrf_token %}
        <div class="mb-5">
          <label for="username" class="block mb-2 text-sm font-medium text-gray-900 font-montserrat">Mail :</label>
          {%render_field form.username class="bg-gray-50 border font-montserrat border-gray-300 text-secondary text-sm rounded-lg focus:ring-secondary focus:border-secondary block w-full p-2.5"%}
        </div>
        <div class="mb-5">
        <div class="mb-5">
                <label for="password1" class="block mb-2 text-sm font-medium text-gray-900 font-montserrat">Mot de passe : </label>
                {%render_field form.password1 class="bg-gray-50 border font-montserrat border-gray-300 text-secondary text-sm rounded-lg focus:ring-secondary focus:border-secondary block w-full p-2.5"%}
        </div>
        <div class="mb-5">
            <label for="password2" class="block mb-2 text-sm font-medium text-gray-900 font-montserrat">Confirmer le mot de passe : </label>
            {%render_field form.password2 class="bg-gray-50 border font-montserrat border-gray-300 text-secondary text-sm rounded-lg focus:ring-secondary focus:border-secondary block w-full p-2.5"%}
        </div>
        <div class="mb-5">
            <label for="password2" class="block mb-2 text-sm font-medium text-gray-900 font-montserrat">Prénom : </label>
            {%render_field form.first_name class="bg-gray-50 border font-montserrat border-gray-300 text-secondary text-sm rounded-lg focus:ring-secondary focus:border-secondary block w-full p-2.5"%}
        </div>
        <div class="mb-5">
            <label for="password2" class="block mb-2 text-sm font-medium text-gray-900 font-montserrat">Nom : </label>
            {%render_field form.last_name class="bg-gray-50 border font-montserrat border-gray-300 text-secondary text-sm rounded-lg focus:ring-secondary focus:border-secondary block w-full p-2.5"%}
        </div>
        <div class="mb-5">
            <label for="password2" class="block mb-2 text-sm font-medium text-gray-900 font-montserrat">Chambre : </label>
            {%render_field form.chambre class="bg-gray-50 border font-montserrat border-gray-300 text-secondary text-sm rounded-lg focus:ring-secondary focus:border-secondary block w-full p-2.5"%}
        </div>
        <div class="mb-5">
            <label for="password2" class="block mb-2 text-sm font-medium text-gray-900 font-montserrat">Téléphone : </label>
            {%render_field form.tel class="bg-gray-50 border font-montserrat border-gray-300 text-secondary text-sm rounded-lg focus:ring-secondary focus:border-secondary block w-full p-2.5"%}
        </div>
        <div class="mb-5">
            <label for="password2" class="block mb-2 text-sm font-medium text-gray-900 font-montserrat">Cocher si vous avez le permis de conduire :</label>
            {%render_field form.isPermis class="bg-white border border-gray-500 border-2 font-montserrat border-gray-50 text-secondary text-sm rounded-lg focus:ring-secondary focus:border-secondary block p-2.5"%}

        </div>
        <div class="flex justify-center flex-row">
            <button type="submit" class="w-96 bg-inherit border-primary text-primary font-montserrat rounded-lg inline-block box-border border-2 rounded-x1 hover:bg-primary hover:text-white duration-1000 h-12 font-bold align-middle">S'inscrire</button>
        </div>
      </form>
      <div class="flex justify-center flex-row py-10">
        <a href="{%url 'login'%}"><button type="button"  class="w-96 bg-inherit border-primary text-primary font-montserrat rounded-lg inline-block box-border border-2 rounded-x1 hover:bg-primary hover:text-white duration-1000 h-12 font-bold align-middle">Déjà inscrit ? Se connecter</button></a>
    </div>
    </body>