  Bonjour, pour initier la procédure de réinitialisation de mot de passe pour le compte Pain'Gouin : {{ user.email }},
  veuillez cliquer sur le lien ci-dessous:

  {{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

  Si cliquer sur le lien ci-dessus ne fonctionne pas, essayez de le copier-coller dans votre navigateur.
  
  Si vous n'avez pas demandé à réinitialiser votre mot de passe et que vous recevez ce mail, ne cliquez pas sur le lien et informez le responsable web.

  Bonne journée,
  Pain'Gouin