{% extends "mail/base_mail.html" %}
{% load mjml %}
{% mjml %}
{% block content %}
  <mj-section mj-class="color-quaternary">
  <mj-column>
  <mj-text>Salut,
  <br>
  pour initier la procédure de réinitialisation de mot de passe pour le compte Pain'Gouin {{ user.username }}, clique sur le bouton ci-dessous :</mj-text>
  </mj-column>
  </mj-section>
  <!-- Bouton -->
  <mj-section mj-class="color-quaternary">
  <mj-column width="50" vertical-align="middle">
  <mj-button mj-class="color-primary" color="#FFFFFF" border-radius="8px" href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}"><strong>Réinitialiser mon mot de passe</strong></mj-button>
  </mj-column>
  </mj-section>
  <!-- Lien brute -->
  <mj-section mj-class="color-quaternary">
  <mj-column>
  <mj-text>Si cliquer sur le bouton ci-dessus ne fonctionne pas, essaye de copier-coller ce lien dans ton navigateur : <a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}</a></mj-text>
  </mj-column>
  </mj-section>
{% endblock content %}
{% block footer %}
  <!-- Au revoir -->
  <mj-section mj-class="color-quaternary">
  <mj-column>
  <mj-text>Bonne journée,
  <br>
  l'équipe Pain'Gouin</mj-text>
  </mj-column>
  </mj-section>
  <mj-section background-color="white" padding-bottom="0">
  <mj-column>
  <mj-text color="#9B9B9B" align="center" font-size="11px" padding="0">Si tu n'as pas demandé à réinitialiser ton mot de passe et que tu reçois ce mail, tu peux <a href="{{ protocol }}://{{ domain }}{% url 'contact' %}">en informer le responsable web</a>.</mj-text>
  </mj-column>
  </mj-section>
{% endblock footer %}
{% endmjml %}
