{% extends "mail/base_mail.html" %}

{% load mjml %}

{% mjml %}
{% block content %}
  <mj-section mj-class="color-quaternary">
    <mj-column>
      <mj-text>
        Salut
        {% if user.first_name %}{{ user.first_name }}{% endif %}
        ,
        <br>
        pour vérifier cet e-mail, clique sur le bouton ci-dessous :
      </mj-text>
    </mj-column>
  </mj-section>
  <!-- Bouton -->
  <mj-section mj-class="color-quaternary">
    <mj-column width="50" vertical-align="middle">
      <mj-button mj-class="color-primary"
                 color="#FFFFFF"
                 border-radius="8px"
                 href="{{ request.scheme }}://{{ request.get_host }}{% url 'verify-email' uidb64=uid email64=email64 token=token %}">
        <strong>Vérifier mon e-mail</strong>
      </mj-button>
    </mj-column>
  </mj-section>
  <!-- Lien brute -->
  <mj-section mj-class="color-quaternary">
    <mj-column>
      <mj-text>
        Si cliquer sur le bouton ci-dessus ne fonctionne pas, essaye de copier-coller ce lien dans ton navigateur : <a href="{{ request.scheme }}://{{ request.get_host }}{% url 'verify-email' uidb64=uid email64=email64 token=token %}">{{ request.scheme }}://{{ request.get_host }}{% url 'verify-email' uidb64=uid email64=email64 token=token %}</a>
      </mj-text>
    </mj-column>
  </mj-section>
{% endblock content %}
{% block footer %}
  <!-- Au revoir -->
  <mj-section mj-class="color-quaternary">
    <mj-column>
      <mj-text>
        À bientôt,
        <br>
        l'équipe Pain'Gouin
      </mj-text>
    </mj-column>
  </mj-section>
  <mj-section background-color="white" padding-bottom="0">
    <mj-column>
      <mj-text color="#9B9B9B" align="center" font-size="11px" padding="0">
        Si tu ne réussis pas à vérifier ton email, tu peux <a href="{{ request.scheme }}://{{ request.get_host }}{% url 'contact' %}">demander de l'aide au responsable web</a>.
      </mj-text>
    </mj-column>
  </mj-section>
{% endblock footer %}
{% endmjml %}
