{% extends "unfold/layouts/base.html" %}

{% load static %}
{% load static tailwind_tags %}

{% block content %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>

<body>

    <h1 class="text-center">Rechercher un Utilisateur</h1>
    <form id="user-form">
        <input type="text" id="user-name" placeholder="Prénom Nom">
        <button type="submit">Rechercher</button>
    </form>
    <div id="user-solde"></div>
    <div id="credit-form-container" style="display: none;">
        <h2 class="text-center">Modifier le Crédit de l'Utilisateur</h2>
        <form id="credit-form">
            <input type="hidden" id="user-first-name">
            <input type="hidden" id="user-last-name">
            <label for="new-credit">Nouveau Crédit :</label>
            <input type="number" step="0.01" id="new-credit" name="new-credit"> <!-- Step pour accepter les décimales -->
            <button type="submit">Modifier</button>
        </form>
        <div id="update-message"></div>
    </div>

    <div id="add-credit-form-container" style="display: none;">
        <h2 class="text-center">Ajouter des Crédits à l'Utilisateur</h2>
        <form id="add-credit-form">
            <input type="hidden" id="user-first-name-add">
            <input type="hidden" id="user-last-name-add">
            <label for="add-credit">Crédit à ajouter :</label>
            <input type="number" step="0.01" id="add-credit" name="add-credit"> <!-- Step pour accepter les décimales -->
            <button type="submit">Ajouter</button>
        </form>
        <div id="add-update-message"></div>
    </div>

    <script>
        $(function() {
            // Activer l'autocomplétion pour le champ de recherche d'utilisateur
            $("#user-name").autocomplete({
                source: "/admin/auth/group/solde/autocomplete_user/",
                minLength: 2
            });
    
            // Gérer la soumission du formulaire de recherche d'utilisateur
            $('#user-form').on('submit', function(e) {
                e.preventDefault();
                var fullName = $('#user-name').val().trim().split(' ');
    
                // Si le nom n'est pas complet, afficher une alerte
                if (fullName.length < 2) {
                    alert('Veuillez entrer à la fois le prénom et le nom de famille.');
                    return;
                }
    
                // Le prénom est le premier mot
                var firstName = fullName[0];
                // Le nom de famille est tout ce qui suit le premier mot
                var lastName = fullName.slice(1).join(' ');
    
                // Envoyer une requête AJAX pour obtenir le solde de l'utilisateur
                $.ajax({
                    url: "/admin/auth/group/solde/get_user_solde/",
                    data: {
                        'first_name': firstName,
                        'last_name': lastName
                    },
                    success: function(data) {
                        // Afficher le solde de l'utilisateur
                        $('#user-solde').text('Crédit: ' + data.solde + ' €');
                        // Mettre à jour les champs cachés pour les formulaires de crédit
                        $('#user-first-name').val(firstName);
                        $('#user-last-name').val(lastName);
                        $('#user-first-name-add').val(firstName);
                        $('#user-last-name-add').val(lastName);
                        // Afficher les formulaires de modification et d'ajout de crédit
                        $('#credit-form-container').show();
                        $('#add-credit-form-container').show();
                    },
                    error: function(xhr, status, error) {
                        // Afficher un message d'erreur si l'utilisateur n'est pas trouvé
                        $('#user-solde').text('Utilisateur non trouvé ou erreur dans la requête.');
                        $('#credit-form-container').hide();  // Masquer le formulaire de crédit
                        $('#add-credit-form-container').hide();  // Masquer le formulaire d'ajout de crédit
                    }
                });
            });
    
            // Gérer la soumission du formulaire de modification de crédit
            $('#credit-form').on('submit', function(e) {
                e.preventDefault();
                var firstName = $('#user-first-name').val();
                var lastName = $('#user-last-name').val();
                var newCredit = $('#new-credit').val();
    
                // Envoyer une requête AJAX pour mettre à jour le crédit de l'utilisateur
                $.ajax({
                    url: "/admin/auth/group/solde/update_credit/",
                    method: "POST",
                    data: {
                        'first_name': firstName,
                        'last_name': lastName,
                        'new_credit': newCredit,
                        'csrfmiddlewaretoken': '{{ csrf_token }}'
                    },
                    success: function(data) {
                        // Afficher un message de succès
                        $('#update-message').text('Crédit mis à jour avec succès.');
                        // Recharger la page
                        location.reload();
                    },
                    error: function(xhr, status, error) {
                        // Afficher un message d'erreur
                        $('#update-message').text('Erreur lors de la mise à jour du crédit.');
                    }
                });
            });
    
            // Gérer la soumission du formulaire d'ajout de crédit
            $('#add-credit-form').on('submit', function(e) {
                e.preventDefault();
                var firstName = $('#user-first-name-add').val();
                var lastName = $('#user-last-name-add').val();
                var addCredit = $('#add-credit').val();
    
                // Envoyer une requête AJAX pour ajouter du crédit à l'utilisateur
                $.ajax({
                    url: "/admin/auth/group/solde/add_credit/",
                    method: "POST",
                    data: {
                        'first_name': firstName,
                        'last_name': lastName,
                        'add_credit': addCredit,
                        'csrfmiddlewaretoken': '{{ csrf_token }}'
                    },
                    success: function(data) {
                        // Afficher un message de succès et mettre à jour le solde affiché
                        $('#add-update-message').text('Crédit ajouté avec succès.');
                        $('#user-solde').text('Crédit: ' + data.new_solde + ' €');
                        // Recharger la page
                        location.reload();
                    },
                    error: function(xhr, status, error) {
                        // Afficher un message d'erreur
                        $('#add-update-message').text('Erreur lors de l\'ajout du crédit.');
                    }
                });
            });
        });
    </script>
</body>
{% endblock %}